﻿
<section class="spacing">
    <h1>Veterinarians</h1>
    <div class="center-content"><img alt="About - Vet For Every Pet - Pet Services, Vaccination, Spay, Pharmacy & Pet Clinical Management System" src="~/Images/drzakwithpet.jpg" /></div>
    <p>
        <span class="bold italic">Dr. Sahar Fawzy, Eng.Omnia Saeed, Our Full Story:</span><br />
        Welcome to our integrated online clinical management system. 
        We combine pharmacy and pet clinic services to provide streamlined healthcare solutions for pets and their owners. 
        With easy appointment scheduling, accessible medical records, and convenient medication management, we prioritize the well-being of your pets and aim to simplify their care. 
        Trust us to deliver exceptional service and a seamless experience for you and your furry companions.
    </p>
</section>
<section id="map" class="spacing">
    <h4 class="spacing">Location</h4>
    <div class="center-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2868.5980544908793!2d-79.448113!3d44.02969999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sNewmarket%2C+ON+L3X+2M2!5e0!3m2!1sen!2sca!4v1421740743836" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</section>
<section class="spacing">
    <h4>Contact Details</h4>
    <div>
        <address>
            Phone: <a href="tel:012054">(+20) 120-54</a><br />
            Fax: <a href="mailto:sfawzi@nu.edu.eg">sfawzi@nu.edu.eg</a><br />
            Email: <a href="mailto:Shr.Hesham@nu.edu.eg">Shr.Hesham@nu.edu.eg</a><br />
            Address: Nile University, Sheikh Zayed, Giza, Egypt
            <br />Work Hours Time: Mon-Fri:9:30am – 5:30pm, Sat: 9:30am – 5pm.
        </address>
    </div>
</section>
