<section id="content">
    <h1 class="spacing-bottom">Dr.Shrouk Hesham For Pet Dentistry</h1>
    <div class="center-content pic">
        <img alt="Dentistry - Vet For Every Pet - Pet Services, Vaccination, Spay, Pharmacy & Pet Clinical Management System" src="~/Images/dental-banner.png" />
    </div>
    <div>
        <section>
            <p>
                Oral health is very important to keep your pet healthy and happy. Our dental services include teeth cleaning and polishing, tooth extractions and minor oral surgery.
                Our fully equipped dental suite contains all of the necessary tools to ensure your pet's dental procedure goes as smoothly as possible. In addition, all dental extractions receive the benefit of local anesthesia to ensure your pet is as comfortable as possible afterwards.
            </p>
        </section>
    </div>

</section>

<aside class="sidebar">
    <h4>Services</h4>
    <ul>
        <li>
            <ul>
                <li>
                    <a href="/preventive_care_and_treatments">Preventive Care & Treatments</a>
                </li>
                <li class="active">
                    <a href="/dentistry">Dentistry</a>
                </li>
                <li>
                    <a href="/surgical_services">Surgical Services</a>
                </li>
                <li>
                    <a href="/diagnostic_equipment">Diagnostic Equipment</a>
                </li>
                <li>
                    <a href="/grooming_and_boarding">Grooming & Boarding</a>
                </li>
            </ul>
        </li>
    </ul>

</aside>