<section id="content">
    <h1 class="spacing-bottom">Dr.Salma Nofel Responsible For Diagnostic Equipment</h1>
    <div class="center-content pic">
        <img alt="Diagnostic Equipment - Vet For Every Pet - Pet Services, Vaccination, Spay, Pharmacy & Pet Clinical Management System" src="~/Images/exam_room.JPG" />
    </div>
    <div>
        <section>
            <h3>
                Electrocardiography Services
            </h3>
            <p>
                ECG services is available on-site to examine patient with heart disease as well as consultations with cardiologist.
            </p>
        </section>
        <section>
            <h3>Radiology Services</h3>
            <p>
                Our on-site, digital X-ray equipment provides
                high-quality radiographs to help in the quick diagnosis
                of many disorders.
            </p>
        </section>
        <section>
            <h3>Laboratory Services</h3>
            <p>
                We use our own in-house lab facilities as well as a commercial veterinary lab for fast and accurate diagnosis to provide testing for serum chemistry, hematology, serology, urinalysis and parasites as well as more specialized diagnostics and consultations.
            </p>
        </section>
    </div>

</section>

<aside class="sidebar">
    <h4>Services</h4>
    <ul>
        <li>
            <ul>
                <li>
                    <a href="/preventive_care_and_treatments">Preventive Care & Treatments</a>
                </li>
                <li>
                    <a href="/dentistry">Dentistry</a>
                </li>
                <li>
                    <a href="/surgical_services">Surgical Services</a>
                </li>
                <li class="active">
                    <a href="/diagnostic_equipment">Diagnostic Equipment</a>
                </li>
                <li>
                    <a href="/grooming_and_boarding">Grooming & Boarding</a>
                </li>
            </ul>
        </li>
    </ul>

</aside>
