<section id="content">
    <h1 class="spacing-bottom">Recptionist.Salma Sameh For Your Pet Grooming And Boarding</h1>
    <div class="center-content pic">
        <img alt="Grooming And Boarding - Vet For Every Pet - Pet Services, Vaccination, Spay, Pharmacy & Pet Clinical Management System" src="~/Images/grooming-banner.png" />
    </div>
    <div>
        <section>
            <h3>Groomoing And Boarding</h3>
            <p>
                -Bathing - nail clipping - grooming, and boarding for dogs and cats.                 
                "Professional groomer is available. Book your appointment now." 
            </p>
        </section>
    </div>
</section>
<aside class="sidebar">
    <h4>Services</h4>
    <ul>
        <li>
            <ul>
                <li>
                    <a href="/preventive_care_and_treatments">Preventive Care & Treatments</a>
                </li>
                <li>
                    <a href="/dentistry">Dentistry</a>
                </li>
                <li>
                    <a href="/surgical_services">Surgical Services</a>
                </li>
                <li>
                    <a href="/diagnostic_equipment">Diagnostic Equipment</a>
                </li>
                <li class="active">
                    <a href="/grooming_and_boarding">Grooming & Boarding</a>
                </li>
            </ul>
        </li>
    </ul>

</aside>