
<div id="cycle-slideshow-div" class="cycle-slideshow-div center-content">
    
    <div id="cycle-slideshow" class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="2000"><div class="cycle-pager"></div>
        <img alt="Vet For Every Pet- Pet Services, Vaccination, Spay, Pharmacy & Pet Clinical Management System" src="/Images/hospital.jpg" class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: visible; opacity: 1; display: block;">
        <img alt="Dog and Cat - Vet For Every Pet - Pet Services, Vaccination, Spay,  Pharmacy & Pet Clinical Management System" src="/Images/dogcat.jpg" class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
    </div>
</div>
<div id="homeInfo" class="homeInfo left spacing-bottom">
    <h1 class="spacing-bottom">Pharmacy & Pet Clinical Management System </h1>
    <p>
        <strong>
            Welcome to our integrated online clinical management system. We integrate pharmacy and pet clinic services to provide streamlined healthcare solutions for pets and their owners. Our Veterinarians are proud to provide a wide variety of high quality veterinary services at an affordable price &amp; Vet For Every Pet. spay &amp; vaccines, surgery, wellness, dentistry, deworming, tick &amp; flea control, and much more. Visit our services for more details. Pets like dogs, cats, rabbits, ferrets, birds, guinea pigs, rats, and hamsters are always welcome. Stop by to meet our vet care team or call us to arrange a consultation with our vet!. Contact us at (+20) 12054.
        </strong>
    </p>
    
    <p>
        Our facility offers a one stop for your pet's health and medical care. We strive to provide courteous and compassionate care for our clients and their pets. Your new puppy or kitten is always welcome at our Vet For Every Pet!. Our preventive programs are comprehensive, protect your love ones from fleas, ticks, intestinal parasites, and common infectious disease. Call us today to book an appointment. Different plans and bundles that fit your pets &amp; financial needs are available.
    </p>

</div><div class="clear"></div>
<div class="row grid-divider">
    <div class="col-sm-4">
        <div class="col-padding">
            <h3>Services</h3>
            <p><p>
        Our dedicated veterinarians and professionally trained staff care deeply about your pet. We are proud to have a steady stream of clients, pets of all ages and sizes, and our referrals from clients is amazing.
    </p>
    <p>
        Our veterinary is fully equipped with an In-house Diagnostic Laboratory, Surgery Unit with advanced patient monitoring, Dental unit, and well equipped Examination Rooms. We offer cutting-edge technologies in Radiology, Major and minor surgeries, EKG, and Microchipping, all done right on the spot.
    </p>
    <p>
        What makes us even more special is we are a leading Veterinary & Pharmacy Management System that provides the best in client education, veterinary consultation, check-ups, dental services, flea and parasite control and vaccinations. Protect your love ones from intestinal parasites. We offer quality veterinary care at very competitive prices.
    </p></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-padding">
            <h3>Contact Us</h3>
            <p><div style="position:relative; text-align:left;" class="padding-top">
        <a target="_blank" href="https://www.google.ca/maps/place/Brooker+Ridge+Animal+Hospital/&#64;44.0298698,-79.4507437,17z/data=!3m1!4b1!4m2!3m1!1s0x882ad249e72c1019:0xcc5b49b0189502b7?hl=en" style="display:block; float:left;  width: 25%; height:80px; margin: 10px auto; background-image:url('Images/map-icon.png'); background-size:contain; background-repeat:no-repeat;"></a>
        <em class="right block padding-left" style="width:73%;">
            Contact us at 012054 <br> Or Visit our clinic at Nile University, Sheikh Zayed, Giza, Egypt.<br> Our regular Hours: Mon-Sat: 9:30am–5:30pm(5pm Sat).
        </em>
    </div></p>
        </div>
    </div><div class="col-sm-4">
        <div class="col-padding">
            <h3>Our Team:</h3>
            <p>
                Pet Doctors: Shrouk Hesham, Salma Nofel

                Pharmacists: Zahra Saeed, Lugin Darwish

                Recptionists: Alaa Mamdouh, Salma Sameh
            </p>
        </div>
    </div>
    
</div>
<ul id="services" class="graphic-menu center clear align-center text-center semi-full-width">
    <li>
        <a id="preventive" href="/preventive_care_and_treatments" name="Preventive Care &amp; Treatments" title="Preventive Care &amp; Treatments"></a>
    </li>
    <li>
        <a id="dentistry" href="/dentistry" name="Dentistry" title="Dentistry"></a>
    </li>
    <li>
        <a id="surgical" href="/surgical_services" name="Surgical Services" title="Surgical Services"></a>
    </li>
    <li>
        <a id="diagnostic" href="/diagnostic_equipment" name="Diagnostic Equipment" title="Diagnostic Equipment"></a>
    </li>
    <li>
        <a id="grooming" href="/grooming_and_boarding" name="Grooming Boarding" title="Grooming Boarding"></a>
    </li>
    <li>
        <a id="appointment" href="/contact#appointment" name="Appoint." title="Book an Appointment"></a>
    </li>
    <li>
        <a id="time" href="#" name="Hours" title="Hours"></a>
        <div id="timeBox" class="topMenu" style="display: none;">
            <div><span>Monday-Friday:</span> 9:30am – 5:30pm</div>
            <div><span>Saturday:</span> 9:30am – 5pm</div>
            <div><span>Sunday:</span> Close</div>
        </div>
    </li>
</ul>

