
<section id="content">
    <h1 class="spacing-bottom">Dr.Zahraa Saeed & Salma Nofel For Pets Preventive Care And Treatments</h1>
    <div class="center-content pic">
        <img alt="Preventive Care And Treatments - Vet For Every Pet - Pet Services, Vaccination, Spay, Pharmacy & Pet Clinical Management System" src="~/Images/care-banner.jpg" />
    </div>
    <div>
        <section>
            <h3>Medical Examinations & Consultations</h3>
            <p>
                Medical examination for dogs, cats, ferrets, rabbits and birds having medical problems or not feeling well. Annual medical check-up is also recommended particularly for senior pets. This can minimize health problems and keep your pet happy and healthy well into their golden years. After medical assessment, we inform you about the health condition of your pet and possible treatment plans
            </p>
        </section>
        <section>
            <h3>
                Vaccination Program
            </h3>
            <p>
                Puppies and kittens are due for the first vaccine shot at 6-8 weeks of age. The second vaccine shot is a month later, the third one is at 3-4 months of age. Annual vaccine is required to protect your pet from common infectious diseases e.g., Rabies, Distemper, Hepatitis, Parainfluenza, Parvo Virus, Leptospirosis, and Bordetella in dogs. Rabies, Panleukopenia, Calicivirus, Feline Rhinoracheitis, Feline Leukemia, and FIV in cats
            </p>
        </section>
        <section>
            <h3>
                Deworming and Parasites Control Program
            </h3>
            <p>
                Deworming treats and protects pets from Intestinal parasites which are harmful particularly to puppies and kittens and can cause diarrhea, dehydration and weight loss. it is usually done during vaccine appointment.
            </p>
        </section>
        <section>
            <h3>
                Flea Prevention & Control
            </h3>
            <p>
                Preventing and control a flea infestation has never been easier or safer.  There are many treatment programs available.  Unfortunately there are many over the counter products in stores that are neither safe nor effective. Fleas can cause anemia, allergy, and transmit some diseases.
            </p>
        </section>
        <section>
            <h3>Microchipping</h3>
            <p>
                A microchip is a small device placed under the skin between pet’s shoulder blades for purpose of identification. Shelters take lost animals and scanned them for presence of microchip which provides them with pet and owner names and address.
            </p>
        </section>
        <section>
            <h3>Pet Food</h3>
            <p>
                We sell pet food for your loved pets.
            </p>
        </section>
    </div>
    
</section>


<aside class="sidebar">
    <h4>Services</h4>
    <ul>
       <li>
           <ul>
               <li class="active">
                   <a href="/preventive_care_and_treatments">Preventive Care & Treatments</a>
               </li>
               <li>
                   <a href="/dentistry">Dentistry</a>
               </li>
               <li>
                   <a href="/surgical_services">Surgical Services</a>
               </li>
               <li>
                   <a href="/diagnostic_equipment">Diagnostic Equipment</a>
               </li>
               <li>
                   <a href="/grooming_and_boarding">Grooming & Boarding</a>
               </li>
           </ul>
        </li>
</ul>

</aside>