<section id="content">
    <h1>Resources</h1>
    <div>
        <h3 id="helpful-links" class="spacing">
            Helpful Links:
        </h3>
        <p>
            House Call veterinarian in GTA<br />
            <a href="http://www.gtamobilevets.com" target="_blank">www.gtamobilevets.com</a>
        </p>
        <p>
            Canadian Veterinary Medical Association<br>
            <a href="http://www.canadianveterinarians.net" target="_blank">www.canadianveterinarians.net</a>
        </p>

        <p>
            Egypation Kennel Club<br>
            <a href="http://www.ckc.ca" target="_blank">www.ckc.ca</a>
        </p>
        <p>
            Canadian Food Inspection Agency<br>
            <a href="http://www.inspection.gc.ca" target="_blank">www.inspection.gc.ca</a><br>
        </p>
        <p>
            American Animal Hospital Association<br>
            <a href="http://www.aahanet.org" target="_blank">www.aaha.org</a><br>
        </p>
        <p>
            American Board of Veterinary Practitioners<br>
            <a href="http://www.abvp.com" target="_blank">www.abvp.com</a>
        </p>

        <p>
            American College of Veterinary Internal Medicine<br>
            <a href="http://www.acvim.org" target="_blank">www.acvim.org</a>
        </p>
        <p>
            American Kennel Club<br>
            <a href="http://www.akc.org" target="_blank">www.akc.org</a>
        </p>
        <p>
            American Veterinary Medical Association<br>
            <a href="http://www.avma.org" target="_blank">www.avma.org</a>
        </p>
        <p>
            Association of American Veterinary Medical Colleges<br>
            <a href="http://www.aavmc.org" target="_blank">www.aavmc.org</a>
        </p>
        <p>
            Agility Information<br>
            <a href="http://www.cleanrun.com" target="_blank">www.cleanrun.com</a><br>
            <br>
            Center for Veterinary Medicine- U.S. Food and Drug Administration<br>
            <a href="http://www.fda.gov/cvm/" target="_blank">www.fda.gov/cvm/</a>
        </p>
        <p>
            Vets Toronto &Aacute; Kingston Animal Hospital<br />
            <a href="http://www.vetstoronto.com" target="_blank">www.vetstoronto.com</a>
        </p>
    </div>

</section>
<section class="sidebar">
    <h4>Resources</h4>
    <ul>
        <li>
            <ul>
                <li>
                    <a href="/resources#helpful-links">Helpful Links</a>
                </li>
            </ul>
        </li>
    </ul>
</section>