
<section id="content">
    <h1 class="spacing-bottom">Our Veterinary Services</h1>
    <div class="center-content pic">
        <img alt="Preventive Care And Treatments - Vet For Every Pet - Pet Services, Vaccination, Spay" src="~/Images/care-banner.jpg" />
    </div>
    <p>
        Vet For Every Pet Hospital veterinarians providing exceptional veterinary care, vaccination, spay/neuter, parasite control for dogs & cats. Pets like rabbits, birds, guinea pigs, rats, and hamsters are also welcome.
        Our veterinary hospital is fully equipped with an In-house Diagnostic Laboratory, Surgery Unit with advanced patient monitoring, Dental unit, and well equipped Examination Rooms. We offer cutting-edge technologies in Radiology, Major and minor surgeries, EKG, and Microchipping, all done right on the spot.
    </p>
    <p>
        Call us today: (+20) 120-545-6208 <br />
        Nile University, Sheikh Zayed, Giza, Egypt<br />
        Hours: Mon-Sat: 9:30am–5:30pm(5pm Sat).
    </p>
</section>

<aside class="sidebar">
    <h4>Services</h4>
    <ul>
        <li>
            <ul>
                <li>
                    <a href="/preventive_care_and_treatments">Preventive Care & Treatments</a>
                </li>
                <li>
                    <a href="/dentistry">Dentistry</a>
                </li>
                <li>
                    <a href="/surgical_services">Surgical Services</a>
                </li>
                <li>
                    <a href="/diagnostic_equipment">Diagnostic Equipment</a>
                </li>
                <li>
                    <a href="/grooming_and_boarding">Grooming & Boarding</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>

