<section id="content">
    <h1 class="spacing-bottom">Dr.Omnia Saeed For Surgical Services</h1>
    <div class="center-content pic">
        <img alt="Surgical Services - Vet For Every Pet - Pet Services, Vaccination, Spay" src="~/Images/surgery_room.jpg" />
    </div>
    <div>
        <section>
            <p>
            We use electronic monitoring equipment to ensure that
            patient’s vital signs are monitored during all anesthetic
            procedures. We do wide variety of minor & major surgeries
            such as spay, neuter, declaw, urinary obstruction unblocking,
            hernia & wound repair, lump removal, cat bite abscess, etc..
            The surgery suite is where all sterile surgical procedures take place.  
            We perform a wide array of soft tissue and orthopedic surgeries. All of our surgical patients receive intravenous fluids as well as conscientious anesthetic monitoring by one of our Veterinary Technicians.
            </p>
        </section>
    </div>
</section>

<aside class="sidebar">
    <h4>Services</h4>
    <ul>
        <li>
            <ul>
                <li>
                    <a href="/preventive_care_and_treatments">Preventive Care & Treatments</a>
                </li>
                <li>
                    <a href="/dentistry">Dentistry</a>
                </li>
                <li class="active">
                    <a href="/surgical_services">Surgical Services</a>
                </li>
                <li>
                    <a href="/diagnostic_equipment">Diagnostic Equipment</a>
                </li>
                <li>
                    <a href="/grooming_and_boarding">Grooming & Boarding</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>