﻿
<section class="spacing">
    <h1>Meet Our Team!</h1>
    <div class="center-content"><img alt="Our Team - Vet For Every Pet - Pet Services, Vaccination, Spay, Pharmacy & Pet Clinical Management System" src="~/Images/cat.jpg" /></div>
    <p>
        <span class="bold italic">Our Team:</span><br />
        Pharmacists: Zahra Saeed, Lugin Darwish

        Pet Doctors: Shrouk Hesham, Salma Nofel

        Recptionists: Alaa Mamdouh, Salma Sameh
    </p>
</section>

<section class="spacing">
    <h2>Mission & Vission</h2>
    <div>
        <p>
            <span class="bold italic">Our Mission & Vission</span><br />
            Our mission is to provide comprehensive and integrated healthcare solutions for pets and their owners through our online clinical management system.
            We aim to streamline the process of veterinary care, medication management, and pharmacy services, ensuring the well-being of pets and the convenience of their owners.

            Our vision is to revolutionize the pet healthcare industry by leveraging technology and innovation. 
            We strive to be the leading provider of online clinical management systems, empowering pet owners with easy access to veterinary care, seamless medication management, and exceptional customer service.
            We envision a future where pet healthcare is efficient, accessible, and tailored to the unique needs of each pet.
        </p>
    </div>
</section>

